h1 {
    margin: 0;
    color: blue;
    text-align: center;
}

h1:hover{
   color: red;
   transition: all 1s;
}

p{
   font-size:20px;
   text-align:center;
   margin-left: 20%;
   margin-right:20%;
}

div{
     background-color:  rgb(223, 194, 250);
     width: 250px;
     display: inline-block;
     border: 4px blue dashed;
     border-radius: 10px;
     vertical-align: top;
     padding: 10px;
     margin: 20px;
     box-shadow: 5px 5px 5px rgb(74, 74, 74);
}

body{
    text-align: center;
    background-color: rgb(246, 240, 182);
}

ul{
    text-align:left;
}

div:hover{
    border: 4px dashed red;
    transition: all 1s;
    box-shadow: 10px 10px 10px rgb(74, 74, 74);
    transform: translateY(-10px);
}


